/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;
  margin: 0;
  padding: 0;  
}

button, summary {
	cursor: pointer;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#fff;

	--a-text-color: #0475a1;
	--a-font:Arial;

	--border-menu:#6fbbe9;
	--hr-menu:#08303c;
	--hr-color:#fdb913;
	--blog-hr:#838383;

	--border-input:#d0c5b6;

	--header-background: #003e55;
	--header-links-color: #ffffff;
	--header-links-font: "Chunk ReThunk", Helvetica, Arial;

	--main-font-chunk: "Chunk ReThunk", Helvetica, Arial;
	--main-text-color: #000;
	--main-background-color: #d7e9fa;
	
	
	--footer-font-chunk:"Chunk ReThunk", Helvetica, Arial;
	--footer-text-colot: #fff;
	--footer-background: #000;
}

/****************/
/* JOUW STYLING */
/****************/

@font-face {
	font-family: "Chunk ReThunk";
	src: url(../assets/chunk-rethunk-webfont-en.ttf);
}

/****************/
/* HEADER */
/****************/
header {
	background-color: var(--header-background);
	padding-bottom: 1.25rem;
}

header a img{
	/*display*/
	width: 40%;
	margin-top: 0.75rem;
	margin-left: 1.25rem;
	margin-bottom: 0.125rem;
}

header a:nth-of-type(2){
	/*Display*/
	display: flex;
	justify-content: right;
	margin-top: -3em;
	margin-right: 5em;
	margin-left: 18em;
	padding-right: 0.125rem;

	/*Color*/
	color: var(--color-background);

	/*Text*/
	font-family: var(--header-links-font);
	font-size: smaller;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	line-height: 1em;
	letter-spacing: 0.063rem;
	border-right: 0.188rem solid var(--color-background);
}
  
.skip-to-main-content-link {
	/*Display*/
	display: flex;
	z-index: 2;
	transform: translateY(-300%) translateX(-50%);
	height: 30px;
	left: 50%;
	padding: 7px;
	position: absolute;
	transition: transform 0.3s;

	/*Color*/
	color: var(--header-links-color);
	/*Text*/
	background: var(--header-background);
	font-family: var(--header-links-font);
	font-size: small;
	text-decoration: none;
  }

.skip-to-main-content-link:focus {
	/*Display*/
	left: 50%;
	transform: translateY(50%) translateX(-50%);
	opacity: 1;
  }

header > button{
	/*Display*/
	display: block;
	z-index: 5;
	margin-top: -1.875rem;
	margin-right: 2em;
	margin-left: auto;
	border: none;

	/*Color*/
	color: var(--color-background);
	background-color: var(--header-background);
}

header > button > img{
	/*Display*/
	width: 125%;	
}

header nav section{
	/*Display*/
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 4;
	transform: translateY(-100%);
	padding-bottom: 4em;
	padding-left: 2em;
	
	/*Color*/
	background-color: var(--header-background);
	list-style: none;
}

header nav section.menuOpen{
	/*Display*/
	transform: translateY(4em);
}

header nav ul li{
	/*Display*/
	margin-top: 0.625rem;
	margin-right: 2em;
	margin-bottom: 0.75rem;
	border-bottom: 0.188rem solid var(--hr-menu);
	padding-bottom: 0.625rem;
	list-style: none;
}

header nav ul li a{
	/*Text*/
	font-family: var(--header-links-font);
	font-size: larger;
	text-decoration: none;
	text-transform: uppercase;

	/*Color*/
	color: var(--header-links-color);
} 

header ul li a{
	/*Display*/
	margin-bottom: 0.125rem;
	border-bottom: 0.125rem dashed var(--border-menu);
}

header nav input{
	/*Display*/
	width: 65%;
	padding: 0.75rem;
	margin-top: 0.5rem;
	margin-right: 0.313rem;
	border: 0.313rem solid var(--border-input);
	border-radius: 0.375rem;

	/*Color*/
	color: var(--color-text);
}

header nav button{
	/*Display*/
	width: 18%;
	margin-top: -3.125rem;
	margin-left: 17em;
	padding: 0.938rem 0.938rem;
	border: solid;

	/*Color*/
	color: var(--color-background);
	box-shadow: 0.063rem 0.125rem 0rem rgba(0, 0, 0, 0.50);
}

header nav button img{
	/*Display*/
	width: 100%;
}


/****************/
/* MAIN */
/****************/

/****************************************/
/* Sestion 1 - Afbeeling, tekst en knop */
/****************************************/
main section:nth-of-type(1){
	/*Display*/
	display:grid;
	position:relative;
	place-items:center;
	overflow: hidden;

	/*Text*/
	text-align: center;		
}

main section:nth-of-type(1) img:nth-of-type(1){
	/*Display*/
	width: 100%;
}


main section:nth-of-type(1) img:nth-of-type(2){
	/*Display*/
	width: 70%;
	position: absolute;
	margin-left: 45em;
    margin-top: -31em;
	
	/*Animation*/
	animation-name: slide;
	animation-duration: 10s;
	animation-iteration-count:infinite;
}

@keyframes slide {
	0% {
	  transform:translateX(0);
	}
	
	100% {
	  transform:translateX(-50rem);
	}
}

main section:first-of-type h2{
	/*Display*/
	width: 75%;
	position:absolute;
	margin-top: 6em;
	margin-bottom: -1em;
	padding-bottom: 0%;
	z-index: 1;
	
	/*Text*/
	font-size:2.5rem;
	line-height: 100%;	

	/*Color*/
	color: white;
}

main section:nth-of-type(1) a{
	/*Display*/
	width: 90%;
	position: absolute;
	padding: 1.063rem 2rem;
	bottom: 1rem;
	z-index: 3;
	transform: perspective(1px) rotate(-0.5deg);

	/*Text*/
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	text-decoration: none;

	/*Color*/
	color: var(--header-background);
	background-color:var(--color-background); 
	box-shadow: 0.125rem 0.063rem 0rem rgba(117, 117, 117, 0.75);
}


/**********************/
/* Section 2 - Iconen */
/**********************/
main section:nth-of-type(2){
	/*Display*/
	display: flex;
	flex-direction: column;
	height: 36.25rem;

	/*Text*/
	text-align: left;

	/*Achtergrond foto*/
	background-image: url(../images/banner/bd1.png);
}

main section:nth-of-type(2) img{
	/*Display*/
	width: 28%;
	float: left;
	padding-top: 2em;
	padding-right: 1em;
	padding-bottom: 5em;
	padding-left: 0.813rem;
}

main section:nth-of-type(2) h3{
	/*Display*/
	padding-top: 1.688rem;

	/*Text*/
	text-align: left;
	font-size: 1.25rem;	
}

main section:nth-of-type(2) p{
	/*Display*/
	padding-top: 0.438rem;
	padding-right: 1em;
	padding-bottom: 0.625rem;

	/*Text*/
	text-align: left;
}

main section:nth-of-type(2) a{
	/*Display*/
	display: block;
	padding-left: 4.5em;

	/*Text*/
	font-family: Arial, Helvetica, sans-serif;
	font-weight:600;
	font-size: 1.125rem;
	text-align: left;
	text-decoration: none;

	/*Color*/
	color: var(--a-text-color);
}

/******************************************/
/* Section 3 - Blauwe banner en ijs beker */
/***************************************8**/
main section:nth-of-type(3) img{
	/*Display*/
	width: 100%;
	display: flex;
	padding-left: 1em;

	/*Achtergrond foto*/
	background-image: url(../images/banner/bd2.png);
}

/****************************/
/* Section 4 - Smaken lijst */
/****************************/
main section:nth-of-type(4){
	/*Display*/
	margin-top: -2em;
	padding-top: 1em;
	padding-bottom: 3.938rem;

	/*Text*/
	text-align: center;
	background-color:var(--main-background-color);
}

main section hr:nth-of-type(1){
	/*Display*/
	width: 6.563rem;
	display: flex;
	margin: auto;
	margin-top: 2em;
	border: 0.25rem solid var(--hr-color);
}

main section:nth-of-type(4) h2{
	/*Display*/
	margin-top: 1em;

	/*Text*/
	font-size: 1.75rem;
	line-height: 2.188rem;
}

main section:nth-of-type(4) p{
	/*Display*/
	padding-right: 1em;
	padding-bottom: 2em;
	padding-left: 1em;

	/*Text*/
	font-weight:500;
	font-size: medium;
	line-height: 1.875rem;
}

main section:nth-of-type(4) li{
	/*Display*/
	display: flex;
	flex-direction: row;
	margin-right: 1em;
	margin-bottom: 0.625rem;
	margin-left: 1em;
	padding-top: 2em;
	padding-bottom: 2em;
	border-radius: 0.625rem;
	border: 0.063rem solid var(--a-text-color);
	box-shadow: 0 0.063rem 0.25rem rgb(0 0 0 / 30%);

	/*Color*/
	background-color: var(--color-background);
}

main section:nth-of-type(4) img{
	/*Display*/
	width: 35%;
	align-items: center;
}

main section:nth-of-type(4) a{
	/*Display*/
	display: flex;
	align-items: center;

	/*Text*/
	font-family:var(--a-font);
	font-size: 1.25rem;
	font-weight:bolder;
	text-align: center;
	text-decoration: none;

	/*Color*/
	color: var(--a-text-color);
}

/*********************************/
/* Section 5 - Recent Highlights */
/*********************************/
main section:nth-of-type(5){
	/*Display*/
	display: flex;
	flex-direction: column;
	padding-bottom: 2em;	
	
	/*Text*/
	text-align: center;	
	list-style: none;

	/*Achtergrond foto*/
	background-image: url(../images/banner/bd3.png);
	background-size: cover;
}

main section:nth-of-type(5) span{
	/*Display*/
	width: 6.563rem;
	display: flex;
	margin: auto;
	margin-top: 2em;	
	margin-bottom: 1em;
	border: 0.25rem solid var(--hr-color);		
}

main section:nth-of-type(5) h2{
	/*Display*/
	margin-bottom: 1em;
	padding-top: 1em;

	/*Text*/
	font-size: 1.7rem;
	line-height: 2.188rem;
}

main section:nth-of-type(5) li{
	/*Display*/
	display: flex;
	flex-direction: column;
	margin-right: 1em;
	margin-bottom: 1.563rem;
	margin-left: 1em;	
	padding-bottom: 1em;

	/*Color*/
	background-color: var(--color-background);	
}

main section:nth-of-type(5) img{
	/*Display*/
	display: block;
	width: 100%;
}

main section:nth-of-type(5) p{
	/*Display*/
	width: 4.875rem;
	display: flex;
	margin: auto;
	margin-top: 1.25rem;
	margin-bottom: 1em;	
	border: 0.25rem solid var(--hr-color);
}

main section:nth-of-type(5) a{
	/*Display*/
	padding-right: 2em;
	padding-bottom: 1em;
	padding-left: 2em;
	align-items: center;
	
	/*Text*/
	font-family:var(--a-font);
	font-size: large;
	font-weight:bolder;
	text-decoration: none;

	/*Color*/
	color: var(--a-text-color);
}

/*************************/
/* Section 6 - Blog post */
/*************************/
main section:nth-of-type(6){
	/*Display*/
	display: flex;
	flex-direction: column;
	padding-top: 3em;
	
	/*Text*/
	text-align: left;

	/*Achtergrond foto*/
	background-image: url(../images/banner/bd1.png);	
}

main section:nth-of-type(6) hr:first-of-type{
	width: 6.563rem;
    display: flex;
    margin: auto;
    margin-top: 2em;
	padding: 0;
    border: 0.25rem solid var(--hr-color);
}

main section:nth-of-type(6) hr{
	/*Display*/
	padding-bottom: 1em;
	border-top: 0.125rem dashed var(--blog-hr);
}

main section:nth-of-type(6) h2{	
	/*Display*/
	margin-bottom: 1em;
	padding-top: 1em;

	/*Text*/
	text-align: center;
	font-size: 1.75rem;
	line-height: 2.188rem;
}

main section:nth-of-type(6) img{
	/*Display*/
	width: 30%;
	float: left;
	margin-right: 0.625rem;
	margin-bottom: 1em;
	margin-left: 0.625rem;
	border: 0.25rem solid var(--color-background);
    box-shadow: 0 0.125rem 0.125rem rgb(0 0 0 / 30%);
}

main section:nth-of-type(6) time{
	/*Display*/
	display: block;	
	
	/*Text*/
	font-family: var(--a-font);
	font-weight:600;
	font-size: 1.125rem;
	text-align: left;
	text-decoration: none;
	
	/*Color*/
	color: var(--a-text-color);
}

main section:nth-of-type(6) article a{
	/*Display*/
	display: block;	
	padding-top: 0.625rem;	
	padding-left: 5em;
	
	/*Text*/
	font-family: Arial, Helvetica, sans-serif;
	font-weight:600;
	font-size: 1.125rem;
	text-align: left;
	text-decoration: none;

	/*Color*/
	color: var(--main-text-color);
}

/*************************/
/* Algemeen voor de Main */
/*************************/
main{
	/*Text*/
	font-family: var(--header-links-font);
	text-decoration: none;

	/*Color*/
	color: var(--header-links-color);
}

main h2{
	/*Text*/
	font-family: var(--header-links-font);

	/*Color*/
	color: #000;
}

main h3{
	/*Text*/
	font-family: var(--header-links-font);

	/*Color*/
	color: #000;
}

p{
	/*Text*/
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;

	/*Color*/
	color: #000;
}



/****************/
/* Footer */
/****************/

/********************/
/* Section 1 Footer */
/********************/
footer section:nth-of-type(1){
	/*Display*/
	width: 100%;
	height: 40.625rem;
	
	/*Text*/
	font-family: var(--header-links-font);

	/*Achtergrond foto*/
	background-image: url(../images/banner/gras.png);
	background-size:cover;
}

footer section:nth-of-type(1) a:first-of-type{
	/*Display*/
	display: flex;
	width: 85%;
	margin-top: 0;
	margin-bottom: 1em;
	margin-left: 2em;
	padding: 1.375rem 2rem;
	justify-content: center;
	box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 30%);
	background-color: var(--a-text-color);
	
	/*Text*/
	font-family: var(--a-font);
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	
	/*Color*/
	color: var(--color-background);
}

footer section:nth-of-type(1) h2{
	/*Display*/
	max-width: 10em;
	margin:auto;
	padding-top: 6em;
	padding-right: 1em;
	padding-bottom: 0.188rem;
	padding-left: 1em;

	/*Text*/
	font-size:x-large;
	text-align: center;
	line-height:2.188rem;

	/*Color*/
	color: var(--color-background);
}

footer section:nth-of-type(1) p{
	/*Display*/
	max-width: 17em;
	display: flex;
	margin: auto;
	
	/*Text*/
	font-family: var(--a-font);
	text-align: center;
	line-height: 1.25rem;	

	/*Color*/
	color: var(--color-background);
}

footer section:nth-of-type(1) input{
	/*Display*/
	max-width: 75%;
	display: block;
	margin-top: 1em;
	margin-right: auto;
	margin-left: auto;
	padding: 0.75rem;
	border: 0;
	border-radius: 0;

	/*Color*/
	color: var(--color-text);
}

footer section:nth-of-type(1) button{
	/*Display*/
	width: 40%;
	position: absolute;
    margin-top: 1em;
    margin-left: 7rem;
    padding: 0.7rem 0.5rem;
    justify-content: center;
    border: none;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 30%);
    z-index: 3;

	/*Text*/
	font-weight: 500;
	font-size: large;

	/*Color*/
	color: var(--a-text-color);
	background-color: var(--color-background);
}

.koe-animatie{
	/*Display*/
	width: 23%;
	position: absolute;
	margin-top: 1em;
	margin-right: 3.7em;
	transform: rotate(40deg);
	z-index: 1;

	/*Animation*/
	animation-name:peekaboo;
	animation-duration: 5s;
	animation-iteration-count:infinite;
}

@keyframes peekaboo{
	0% {
	  right: 0;
	}
	
	50%{
		right: 3em;
	}

	100% {
		right:0;
	
	}
}

footer section:nth-of-type(1) a{
    /*Display*/
    width: 15%;	
    display: inline-block;
	margin-top: 7em;
	margin-left: 3.25em;
}
  
footer section:nth-of-type(1) a img{
    /*Display*/
    width: 100%;	
   
}

/********************/
/* Section 3 Footer */
/********************/
footer section:nth-of-type(2){
	/*Display*/
	width: auto;
	padding-top: 1em;
	padding-bottom: 1em;

	/*Color*/
	background-color: var(--footer-background);
}

footer section:nth-of-type(2) a{
	/*Display*/
	margin-left: 1em;

	/*Text*/
	font-family: var(--footer-font-chunk);
	font-weight: lighter;
	text-align: left;
	text-decoration: none;
	line-height: 3em;

	/*Color*/
	color: var(--footer-text-colot);
}

/****************/
/* Media querie */
/****************/	

/*nu bezorgen A*/
@media screen and (max-width: 320px){
	header a:nth-of-type(2){
		font-size: x-small;
	}
  }

  @media screen and (max-width: 320px){
	header button img{
		margin-top: 0.38rem;
	}
  }
/*h2 van section 1*/
@media screen and (max-width: 320px){
	main section:first-of-type h2{
		margin-bottom: 1em;
		width: 100%;
	}
  }

/*search icon in hamburger menu*/
  @media screen and (min-width: 900px){
	header nav button{

	}
  }

/*hoogte van de ul in de nav*/
  @media screen and (max-width: 320px){
	header nav section.menuOpen{
	margin-top: -1em;
	}
  }




/*BRONNEN*
images: https://www.benjerry.nl/ & extract.pics
colors: https://www.benjerry.nl/
font: https://eng.m.fontke.com/font/62486515/download/
button css styling: https://www.w3schools.com/css/css3_buttons.asp
tekst op images: https://codepen.io/shooft/pen/jOKzRoK
media queries: https://css-tricks.com/a-complete-guide-to-css-media-queries/
hr: https://www.w3schools.com/howto/howto_css_style_hr.asp
button: https://www.w3schools.com/css/css3_buttons.asp
koe foto: https://www.benjerry.com/whats-new/2016/most-interesting-cow
koe animatie: https://codepen.io/shooft/pen/KKorGPa?editors=1100
santa img: https://www.vecteezy.com/vector-art/5346727-santa-claus-on-sleigh-with-reindeer-flying-in-the-sky-at-night
skip link: https://www.freecodecamp.org/news/how-to-add-skip-to-main-content-links-to-a-website/




heb ik:
1. Animatie van een koe en santa
2. States van controls++ (forms, inputs, links…)
3. Video/Geluid
4. Advanced positioning: sticky, fixed, z-index…
5. Custom properties++ (voor meer dan kleur, aanpassen met JS…)


verbeter punten op basis van mijn telefoon
kruisje bij hamburger menu te groot
zoek button in de menu te veel naar links

wat schaalt niet mee:
hamburger menu
social iconen